* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #ffffff; 
  color: #ffffff;
  padding: 20px;
}

#dynamic {
  margin-bottom: 18px;
  font-weight: 300;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  color: #585700; 
  text-align: center;
}

h2 {
  color: #ffffff; 
  text-align: center;
}

form {
  background-color: #0d344e; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

label {
  color: #d7e0a0; 
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #333333; 
  border: 1px solid #444444; 
  color: #fff; 
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #d7e0a0; 
}

button {
  background-color: #e2ee97;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #ddd26b; }

#generated-resume {
  margin-top: 30px;
  padding: 20px;
  background-color: #032750;
  border-radius: 10px;
  display: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
#objective{
  margin-top: 18px;
}
#resume-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}
#resume-content h3 {
  font-size: 1.2rem;
  color: #0d344e; 
  margin-bottom: 10px;
  border-bottom: 1px solid #e2ee97; 
  padding-bottom: 5px;
}

#resume-content p {
  margin-bottom: 10px;
  font-size: 1rem;
}

#save-resume,
#reset-resume,
#generated-link {
  display: inline-block; 
  vertical-align: middle;
}

#generated-link {
  margin-left: 247px;
  text-decoration: underline;
  color: #e2ee97; 
  margin-top: 28px;
  cursor: pointer;
}

#save-resume,
#reset-resume {
  margin-right: 10px;
}

#generated-link {
  color: #ece282;
  display: block;
  text-align: right;
  white-space: nowrap; 
}

#button-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: flex-start; 
  /* align-items: center;  */
}

#save-resume,
#reset-resume,
#generated-link {
  margin-right: 10px; 
}

@media only screen and (max-width: 768px) {
  form,
  #generated-resume {
    padding: 15px;
  }

  input,
  textarea {
    padding: 8px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
  #button-group {
    flex-direction: column; /* Stack buttons and link vertically on small screens */
    align-items: stretch; /* Stretches to the full width of the container */
  }

  #generated-link {
    text-align: center;
    font-size: 0.9rem; /* Adjust font size for readability */
    margin: 10px 0;
  }
}
